<script id="search-results" type="text/x-handlebars-template">
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Friend</th>
        <th>Follower?</th>
      </tr>
    </thead>
    <tbody>
      {{#each resultsArray}}
        {{#if following}}
          <tr>
            <td>{{screen_name}}<td>
            <td class="second">True<td>
          </tr>
        {{else}}
          <tr>
            <td>{{screen_name}}<td>
            <td class="second">False<td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
  <br>
</script>
