doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/css/main.css', rel='stylesheet', media='screen')
  body
  .container              
    h1 Twitter Fun.
    p.lead Are your friends following you?
    br
    br
    #yay
      form(role='form')
        .form-group
          input.form-control(for='screen-name', type='text', placeholder='Enter a screen name ..')
        div
          button.btn.btn-primary.btn-lg#search(type='') Submit!
    button.btn.btn-primary.btn-lg#again(type='') Again?!
    br
    br 
    #results
    include template.html

  script(src='http://code.jquery.com/jquery.js')
  script(src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")
  script(src='/js/main.js')
  script(src='/js/bootstrap.min.js')
